
@{
    ViewBag.Title = "KnowYourPolices1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<center>
    <div class="jumbotron">

        <h3 style="color:Red">You do not have any polices! Please buy a policy </h3>

      
        @Html.ActionLink("Click Here to return to Home Page", "Index", "Home")
    </div>
</center>
       





