
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You For Choosing Our Term PLoicy </h2>

@Html.ActionLink("Click Here to return to Home Page", "Index", "Home")
