
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<div class="container-fluid">
    <Center>
        <div class="card">

            <img class="card-img-top" src="~/Images/Thank.jpg" />

        </div>
    </Center>

    <marquee>
        <h2 style=" color:red">Thank you for choosing our Term Policy</h2>
    </marquee>



    <center>
        <h4>@Html.ActionLink("Click Here to return to Home Page", "Index", "Home")</h4>
    </center>
</div>
